* {
    margin: 0px;
    padding: 2px;
}

.change {
    text-align: center;
    padding: 15px;
    background-color: rgb(4, 151, 102);
    font-family: Kh koulen;
    color: white;
    font-size: 25px;
    width: 70%;
    height: 8vh;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 210px;
    margin-top: 50px;

}

.container1 {
    background-color: white;
    box-shadow: black 1px 1px 3px 1px;
    width: 70%;
    height: 205vh;
    margin-left: 210px;
    margin-top: 20px;
}

.info {
    background-color: rgba(215, 215, 215, 0.26);
    width: 90%;
    height: 48vh;
    padding: 10px;
    margin: 10px;
    margin-left: 65px;
    margin-top: -20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#info_personal {
    font-family: Khmer OS Content;
    font-weight: bold;
    background-color: rgba(186, 186, 186, 0.667);
    width: 101.8%;
    height: 7vh;
    padding: 10px;
    margin: -10px;
    margin-left: -10px;
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#fname {
    font-family: Khmer OS Content;
    padding: 10px;
    margin-top: 20px;
    margin-left: 88px;
}

#first_name {
    font-family: Khmer OS Content;
    margin-left: 40px;
    height: 5vh;
    width: 90%; 


}

#lname {
    font-family: Khmer OS Content;
    padding: 10px;
    margin-top: 20px;
    margin-left: 48px;
    
}

#last_name {
    font-family: Khmer OS Content;
    margin-left: 40px;
    height: 5vh;
    width: 105%;


}

#latang1 {
    font-family: Khmer OS Content;
    margin-left: 88px;

}

#latang {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 53px;
    width: 250%;
    height: 5vh;
}
#sex{
    font-family: Khmer OS Content;
    margin-left: 145px;
}
#male2{
    font-family: Khmer OS Content;
    margin-left: 10px
}
#male{
    margin-left: 50px
}
#female{
    margin-left: 10px
}
#female2{
    font-family: Khmer OS Content;
}
.dob{
    font-family: Khmer OS Content;
    margin-left: 70px;
}
#dob{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 45px;
    width: 365%;
    height: 5vh;
}
.address{
    font-family: Khmer OS Content;
    margin-left: 100px;
}
#address1{
    font-family: Khmer OS Content;
    margin-left: 38px;
    margin-top: 5px;
}
.province{
    font-family: Khmer OS Content;
    margin-left: 150px;
    margin-top: -20px;
}
#province1{
    font-family: Khmer OS Content;
    margin-left: 42px;
    margin-top: -20px;
    width: 331%;
}
.phone{
    font-family: Khmer OS Content;
    margin-left: 50px;
    margin-top: 15px;
    
}
#phone1{
    margin-left: 35px;
    height: 5vh;
    
    
}
.parent_number{
    font-family: Khmer OS Content;
    margin-left: 10px
}
#parent_number1{
    margin-left: 28px; 
    height: 5vh; 
    margin-top: 35px;
}
.inf_study {
    background-color: rgba(215, 215, 215, 0.26);
    width: 102.6%;
    height: 55vh;
    padding: 10px;
    margin-top: 60px;
    margin-left: -14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#info_study{
    font-family: Khmer OS Content;
    font-weight: bold;
    background-color: rgba(186, 186, 186, 0.667);
    width: 101.8%;
    height: 7vh;
    padding: 10px;
    margin: -10px;
    margin-left: -10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.level_study{
    font-family: Khmer OS Content;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
  
}
#level_study1{
    font-family: Khmer OS Content;
    margin-left: 30px;
    width: 110%;
    height: 5vh;
   
}
.place_exambacll{
    font-family: Khmer OS Content;
    padding: 10px;
    margin-left: 83px;
    margin-top: -10px;
}
.place_exambacll1{
    font-family: Khmer OS Content;
    margin-left: 25px;
    width: 275%;
    height: 5vh;
   
}
.date_bacll{
    font-family: Khmer OS Content;
    margin-left: 100px;
}
#date_bacll1{
    font-family: Khmer OS Content;
    margin-left: 35px;
    margin-top: 5px;
    width: 375%;
    height: 5vh;
}
.number_room{
    font-family: Khmer OS Content;
    margin-left: 123px;
    margin-top: 5px;
}
#number_room1{
    margin-left: 35px;
    height: 5vh;
    margin-top: 5px;
}
.number_table{
    font-family: Khmer OS Content;
    margin-left: 160px;
    

}
#number_table1{
    height: 5vh;
    margin-top: 5px;
    margin-left: 13px;
}  
.num_certificate{
    font-family: Khmer OS Content;
    margin-left: 90px;
    
}
#num_certificate_1{
    margin-left: 30px;
    height: 5vh;
    margin-top: 5px;
}
.num_personal{
    font-family: Khmer OS Content;
    margin-left: 49px;
    
}
 #num_personal_1{
    height: 5vh;
    margin-top: 5px;
    margin-left: 13px;
 }    
.end_of_highschool{
    font-family: Khmer OS Content;
    margin-left: 90px;
}
#end_of_highschool1{
    margin-left: 30px;
    width: 270%;
    height: 5vh;
    margin-top: 5px;
}
.grade{
    font-family: Khmer OS Content;
    margin-left: 145px;
}
#grade2{
    margin-left: 30px;
    height: 5vh;
    margin-top: 5px;
    width : 323%;
    height: 5vh;
}
.info_department{
    background-color: rgba(215, 215, 215, 0.26);
    width: 103%;
    height: 20vh;
    padding: 10px;
    margin: 340px;
    margin-left: -15px;
    margin-top: 55px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#dep_info{
    font-family: Khmer OS Content;
    font-weight: bold;
    background-color: rgba(186, 186, 186, 0.667);
    width: 102%;
    height: 7vh;
    padding: 10px;
    margin: -10px;
    margin-left: -12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.level_study2{
    font-family: Khmer OS Content;
    margin-left: 58px;
    margin-top: 20px;
}
#level_study2{
    font-family: Khmer OS Content;
    margin-left: 35px;
    margin-top: 10px;
    width: 120%;
    height: 5vh;
   
}
.skill1{
    font-family: Khmer OS Content;
    margin-left: 112px;
    margin-top: 20px;
}
#skill1_1{
    margin-left: 36px;
    height: 5vh;
    margin-top: 0px;
    width: 128%;
    height: 5vh;
   
}
.skill2{
    font-family: Khmer OS Content;
    margin-left: 220px;
}
#skill2_2{
    height: 5vh;
    margin-top: 5px;
    margin-left: 10px;
    width: 135%;
    /* height: 5vh */
}
.img_stu{
    background-color: rgba(215, 215, 215, 0.26);
    width: 102%;
    height: 45vh;
    padding: 10px;
    margin: 10px;
    margin-top: -285px;
    margin-left: -10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.add_inf{
    font-family: Khmer OS Content;
    font-weight: bold;
    background-color: rgba(186, 186, 186, 0.667);
    width: 102%;
    height: 7vh;
    padding: 10px;
    margin: -10px;
    margin-left: -12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#img_student1{
    font-family: Khmer OS Content;
    margin-left: 100px;
    margin-top: 20px;
}
.img_student{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    padding: 5px;
    width: 75%;
    border: none;
    background-color: rgba(217, 217, 217, 0.701);
    border-radius: 3px 3px 3px 3px;
}
#birth_certificate1{
    font-family: Khmer OS Content;
    margin-left: 100px;
    margin-top: 10px;
   
}
.birth_certificate{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 16px;
    margin-top: -5px;
    padding: 5px;
    width: 75%;
    border: none;
    background-color: rgba(217, 217, 217, 0.701);
    border-radius: 3px 3px 3px 3px;
}
#img_score1{
    font-family: Khmer OS Content;
    margin-left: 120px;
    margin-top: 10px;
}
.img_score{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 19px;
    margin-top: 5px;
    padding: 5px;
    width: 75%;
    border: none;
    background-color: rgba(217, 217, 217, 0.701);
    border-radius: 3px 3px 3px 3px;
}
#certificate1{
    font-family: Khmer OS Content;
    margin-left: 125px;
    margin-top: 10px;
}

.certificate{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 18px;
    margin-top: 5px;
    padding: 5px;
    width: 75%;
    border: none;
    background-color: rgba(217, 217, 217, 0.701);
    border-radius: 3px 3px 3px 3px;
}
#khmer_card{
    font-family: Khmer OS Content;
    margin-left: 75px;
    margin-top: 10px;
}
.khmer_card1{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 18px;
    margin-top: 5px;
    padding: 5px;
    width: 75%;
    border: none;
    background-color: rgba(217, 217, 217, 0.701);
    border-radius: 3px 3px 3px 3px;
}
/* .Reset {
    font-family: 'Times New Roman', Times, serif;
    border: none;
    width: 10%;
    height: 5vh;
    background-color: rgb(225, 30, 16);
    border-radius: 5px 5px 5px 5px;
    margin-top: 830px;
    float: right;
    margin-right: 200px;
}
.Reset:hover{
  
    box-shadow: 1px 0px 5px 1px;
} */

.submit {
    font-family: Khmer OS Content;
    border: none;
    width: 15%;
    height: 5vh;
    background-color: rgb(4, 151, 102);
    border-radius: 5px 5px 5px 5px;
    margin-top: 1050px;
    float: right;
    margin-right:48px;
}
.submit:hover{
    box-shadow: 1px 0px 5px 1px;
} 